<!DOCTYPE html>
<html>

<head>
  <title>Cohort</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <link rel="stylesheet" href="cohort.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</head>

<body>
  <div id="app">
    <div class="wrapper">
      <div class="filters">
        <div class="filters_upper">
          <input @keyup="getRes" v-model="data.keyword" placeholder="Enter Search Term" class="searchBox" type="text" />
        </div>
        <button @click="selected.facets=[]" class="clear">Clear Filters</button>
        <div class="parentFacet" v-for="facet in data.facets" :key="facet.id">
          <h4 @click="toggleMenu" class="un parentTitle caret" :key="facet.id">{{facet.FACET_LABEL}}</h4>
          <div class="hide" :id="facet.FACET_LABEL">
            <template v-for="sub in facet.OPTIONS">
              <div v-if="sub.OPTION_LABEL" :key="sub.id">
                <!--no submenu-->
                  <input @change="getRes" type="checkbox" :value="sub.OPTION_CODE + ',' + sub.OPTION_LABEL" v-model="selected.facets" />
                  <label>{{sub.OPTION_LABEL}} ({{sub.COUNT}})</label>
               
              </div>
              <div class="subFacet" @click="toggleMenu" v-else-if="hasMenu(sub.OPTIONS)">
                <input type="checkbox" @change="select_F" />
                <span class="un subTitle caret">{{sub.FACET_LABEL}} </span>
                <div :id="sub.FACET_LABEL" class="hide">
                  <div class="kidFacet" v-for="kid in sub.OPTIONS" :key="kid.id">
                    <input @change="getRes" v-model="selected.facets" type="checkbox" :value="kid.OPTION_CODE + ',' + kid.OPTION_LABEL"/>
                    <label>{{kid.OPTION_LABEL}} ({{kid.COUNT}})</label>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>

      <div class="results">
        <h2>Search Results for:{{data.keyword}}</h2>
        <div class="resultHead">
          <div class="print">
            <button @click="print" class="printPDF">Print Selected Items as PDF<span class="far fa-file-pdf"></span></button>
            <div class="count">{{selected.results.length}}</div>
          </div>
          <h4 v-if="data.typecounts" class="breakdown">
            <strong>{{data.totalResults}} Results:</strong>
            <span class="coh_icon"></span>{{data.typecounts.c}} Study Populations
            <span class="proj_icon"></span>{{data.typecounts.p}} Projects
          </h4>
        </div>
        <div class="appliedP">Applied Facets:
          <span class="appliedC">{{appliedFacets()}}</span>
        </div>
        <div class="result_options">
          <div>
            <input @click="all_res" type="checkbox">
            <label>Select All</label>
          </div>
          <div>
            <label>Sort:</label>
            <select @change="getRes" v-model="data.sort">
              <option value="resource_title">Title (A-Z)</option>
              <option value="Institution">Institution</option>
              <option value="PI">Principal Investigator</option>
              <option value="Type">Type</option>
            </select>
          </div>
          <div class="pag">
            <span @click="page" id="first">&lt;&lt;</span>
            <span @click="page" id="previous">&lt;</span>
            <span class="main">Page {{data.page}} of {{Math.ceil(data.totalResults / data.resultsperpage)}}</span><!--
         --><span @click="page" id="next">&gt;</span>
            <span @click="page" id="last">&gt;&gt;</span>
          </div>
          <div>
            <label>Show:</label>
            <select @change="getRes" v-model="data.resultsperpage">
              <option value="10">10</option>
              <option value="25">25</option>
            </select>
            <label>of {{data.totalResults}}</label>
          </div>
        </div>
        <h2 class="noResults" v-if="!data.totalResults">No results, Please try a different search.</h2>
        <!-- Each result -->
        <div v-else class="result" v-for="result in data.resultslist" :key="result.id">
          <input type="checkbox" v-model="selected.results" :value="result" />
          <img :src="'assets/' + result.icon + '-icon.svg'" class="lg" />
          <div class="result_box">
            <h3 class="res_title">{{trimmed(result.resource_title)}}</h3>
            <span class="info">Principal Investigator:
              <span> {{trimmed(result.pi)}}</span>
            </span>
            <span class="info">Institution:
              <span> {{result.institution}}</span>
            </span>
            <template v-if="result.type == 'c'">
              <span class="info">Location:
                <span> {{result.location}}</span>
              </span>
              <span class="info">Number of Participants:
                <span> {{result.number_participants}}</span>
              </span>
            </template>
            <template v-else>
              <span class="info">Study Populations:
                <span> {{trimmed(result.top_cohort_name)}}</span>
              </span>
              <span class="info">Grant Number:
                <span> {{result.grant_number}}</span>
              </span>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    var search = 'https://tools3dev.niehs.nih.gov/cohorts/index.cfm?do=remote.search';
    // ----------------------- Replace ^ ^ ^  with -> // var search = '/cohorts/index.cdm?do=remote.search'; 
    function getData(update_url){
      $.ajax({
        url: update_url,
        success:function(data){
          app.data = data
          if(!app.data.totalResults){app.data.page = 0}
          var res = app.data.resultslist
          for (var ult in res) {res[ult].icon = res[ult].type == 'c' ? 'cohort' : 'project'}
        },      
      })  
    }
    var app = new Vue({
      el: "#app",
      data:function(){
        return {
          data: {},
          selected: {
            facets: [],
            results: [],
          }
        }
      },
      created: function () {getData(search);// app.results = _data_init_cohorts; //replaces f(n) 
      },
      methods: {
        browserSync: function(e){
          var val = {};
          val.src = e.originalTarget ? e.originalTarget : e.srcElement;
          if(e.target.nextElementSibling){val.subs = e.target.nextElementSibling.innerText}
          return val; 
        }, 
        print: function(){window.alert('Coming Soon!')},
        getCode: function(x){return x.split(',').splice(0, 1).join('')},
        getLabel: function(x){return x.split(',').splice(1, 1).join('')},
        hasMenu: function(x){return Object.keys(x).length > 0 ? true : false},
        trimmed: function(x){return x.length > 74 ? x.slice(0, 67) + '...' : x},
        toggleMenu: function(e){$(document.getElementById(this.browserSync(e).src.innerText)).toggle(200)},
        all_res:function(e){this.selected.results = this.browserSync(e).src.checked ? this.data.resultslist : []},
        page: function(e) {
          var id = this.browserSync(e).src.id;
          switch(id){
            case'first':this.data.page=1; break;
            case'next': this.data.page++; break;
            case'previous': this.data.page--; break;
            case'last': this.data.page = Math.ceil(this.data.totalResults / this.data.resultsperpage)
          }
          this.getRes();
        },
        appliedFacets: function(){
          var y = [];
          var sfacets = this.selected.facets;
          for(var i in sfacets){y.push(this.getLabel(sfacets[i]))}
          return y.toString();
        },
        select_F: function(e){
          var data = this.browserSync(e);
          var sFacets = this.selected.facets;
          var parent = document.getElementById(data.subs);
          $(document.getElementById(data.src.nextElementSibling.innerText)).toggle(200);
          for(var child in parent.children){
            var kid = parent.children[child].firstChild;
            if(kid){data.src.checked ? sFacets.push(kid.value) : sFacets.splice(sFacets.indexOf(kid.value),1)}
          }
          this.getRes(); 
        },
        getRes: function(){
          var arg = [];
          var query = '';
          var facets = this.selected.facets;
          var page = '&page=' + this.data.page;
          for(var item in facets){arg.push(this.getCode(facets[item]))}
          if(this.data.keyword){query+= '&keyword=' + this.data.keyword}
          if(this.data.sort){query+= '&sort=' + this.data.sort}
          if(this.data.resultsperpage){query+= '&resultsperpage=' + this.data.resultsperpage}
          if(arg.join()){page = '&page=1'; query += '&qpParamvals=' + arg.join()}
          var q = search + query + page;
          getData(q);
        },
      }
    })
  </script>
</body>
</html>